#include "StdAfx.h"
#include<iostream>

using namespace std;

int count = 0;
const int INPUT_SIZE = 10;
class sort
{
public:
void print(int*input, int numElements)
{

for(int a = 0; a<numElements; a++)
cout<<input[a]<<" ";
cout<<endl;
}

void mybubble(int *input, int numElements)

{
bool swap = false;
int transfer = 0;
do
{
swap=false;
for(int a = 0; a<numElements-1; a++)
{

if (input[a]<input[a+1])
{
transfer = input[a];
input [a] = input[a+1];
input[a+1] = transfer;
swap=true;
}
}
}

while (swap==true);
}

void print(float*input, int numElements)
{
for(int a = 0; a<numElements; a++)
cout<<input[a]<<" ";
cout<<endl;
}

void mybubble(float *input, int numElements)
{
bool swap = false;
float transfer = 0;

do
{
swap=false;
for(int a = 0; a<numElements-1; a++)
{

if (input[a]<input[a+1])
{
transfer = input[a];
input [a] = input[a+1];
input[a+1] = transfer;
swap=true;
}
}
}

While (swap==true);
}
};

int main()
{
char s [100];
int input[INPUT_SIZE] = {500, 700, 800, 100, 300, 200, 900, 400, 1000, 600};
float finput[INPUT_SIZE] = {5.500, 7.700, 8.800, 1.100, 3.300, 2.200, 900, 400,
1000, 600};
sort sortvar;

cout << "Input: ";
sortvar.print(input, sizeof (input)/sizeof (int));
sortvar.mybubble(input, sizeof (input)/sizeof (int));
cout << "Output: ";

sortvar.print(input, sizeof (input)/sizeof (int));
cout << "Input: ";

sortvar.print(finput, sizeof (input)/sizeof (float));
sortvar.mybubble(finput, sizeof (input)/sizeof (float));
cout << "Output: ";

sortvar.print(finput, sizeof (input)/sizeof (float));

cin >> s;
return 0;
}
